
.multi-select-container {
  display: inline-block;
  position: relative;
  width: 600px;
  outline: none;
}

.multi-select-input {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: thistle;
  color: black;
}

.chip {
  background-color: #e0e0e0;
  border-radius: 16px;
  padding: 4px 8px;
  margin-right: 4px;
  /* max-width: 30%; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.total {
  margin-left: auto;
  font-weight: bold;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: thistle;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item.selected {
  background-color: #f0f0f0;
  font-weight: bold;
}

.dropdown-item:hover {
  background-color: #e0e0e0;
}
